.button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 48px;
    border-radius: 20px;
    background: linear-gradient(180deg, #f6e209 0%, #f1b903 100%);
    /*border: 1px solid #171717;*/
    filter: blur(0px);
    transition: all 0.3s ease;
}

.button:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.button:active {
    scale: 0.95;
}
